In [21]:
import pandas as pd

from statsmodels.tsa.ar_model import AutoReg

from unit_averaging import InlineFocusFunction, OptimalUnitAverager

In [ ]:
import os

os.getcwd()

'/home/moren/code/unit-averaging'

In [ ]:
german_data = pd.read_csv(
    "docs/examples/data/tutorial_data.csv", parse_dates=True, index_col="period"
)

german_data.index = pd.DatetimeIndex(german_data.index.values, freq="MS")
german_data.iloc[-4:, [0, 2, -1]]

            Aachen - Düren  Ahlen - Münster  Deutschland
2019-09-01             6.2              4.6          4.9
2019-10-01             6.1              4.4          4.8
2019-11-01             6.0              4.5          4.8
2019-12-01             6.1              4.5          4.9

In [31]:
regions = german_data.columns[:-1]
regions

Index(['Aachen - Düren', 'Aalen', 'Ahlen - Münster', 'Annaberg-Buchholz',
       'Ansbach - Weißenburg', 'Aschaffenburg', 'Augsburg', 'Bad Homburg',
       'Bad Kreuznach', 'Bad Oldesloe',
       ...
       'Trier', 'Ulm', 'Weilheim', 'Wesel', 'Wiesbaden', 'Vechta', 'Würzburg',
       'Zwickau', 'Waiblingen', 'Weiden'],
      dtype='object', length=150)

In [42]:
ind_estimates = {}
ind_covar_ests = {}

for region in regions:
    # Extract data and add lags
    ind_data = german_data.loc[:, [region, "Deutschland"]]
    # Run an ARx(1) model
    ar_results = (
        AutoReg(ind_data.loc[:, region], 1, exog=ind_data["Deutschland"])
    ).fit(cov_type="HAC", cov_kwds={"maxlags": 5})
    # Add to dictionary
    ind_estimates[region] = ar_results.params.to_numpy()
    ind_covar_ests[region] = ar_results.cov_params().to_numpy()

In [ ]:
forecast_function = InlineFocusFunction(
    
)

In [ ]:
averager = OptimalUnitAverager(
    
)